<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Form</title>
    <link rel="stylesheet" href="{% static 'css/detailform.css' %}">
</head>
<body class="form">
    <div class="container">
        <h1>Detail Form</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
            <button type="button" onclick="window.location.href='{% url 'data' %}'">Go to Data</button>

        </form>
    </div>
</body>
</html>
