<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<h1>Python Full Stack Course</h1>
<p>Welcome to the Python Full Stack Course!</p>
<p>The trainers for this course are</p>
<p><b>Frontend Trainer</b>- {{ fe }}</p>
<p><b>Backend Trainer</b>- {{ be }}</p>
<p><b>Middleware Trainer</b>- {{ me }}</p>
<p><b>Framework Trainer</b>- {{ fa }}</p>

<a href="http://127.0.0.1:7777/links/">For Images</a>
</body>
</html>
